.title{
    text-align: center;
    padding: 10px;
    font-size: xx-large;
 }
 .box1{
    background-color:white;
    border: 0.5px solid rgb(165, 163, 163);
    height: 300px;
    width: 500px;
    margin-left: 500px;
    margin-top: 80px;
 }
 .content{
    margin-left: 70px;
    font-size:large;
 }