 .box{
    background-color:white;
    border: 0.5px solid rgb(165, 163, 163);
    height: 500px;
    width: 500px;
    margin-left: 500px;
    margin-top: 80px;
 }
 .title{
    text-align: center;
    padding: 10px;
    font-size: xx-large;
 }
 .inpbox{
    width: 350px;
    margin-left: 70px;
 }
 .content{
    margin-left: 70px;
    font-size:large;
 }
 .btn{
    margin-left: 70px;
    width: 350px;

 }
 .haveacc{
   margin-left: 70px;
   margin-top: 20px;
   display: inline-block;
 }
.signin{
   margin-left: 170px;
}